<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hambox.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <MSDeployServiceURL>site76350.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site76350</DeployIisAppPath>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>site76350</UserName>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
